.container {
    padding-top: var(--spacing1);
    min-height: 100%;
    width: 300px;
    min-width: 300px;
    background-color: rgba(var(--background));
    position: relative;

    text-align: center;
    transition: .5s ease-in margin-left;
}

.hidden {
    margin-left: -350px;
}
