.button {
    cursor: pointer;
    margin-right: var(--spacing1);
    margin-bottom: var(--spacing1);
    padding: var(--spacing1) var(--spacing2);
    border-radius: var(--spacing2);
    border: 3px solid transparent;
    background-color: rgba(var(--background-end-rgb));
    color: var(--foreground-rgb);
    transition: all .2s ease-in;
}

.active {
    color: rgba(var(--background-end-rgb));
    background-color: rgba(var(--foreground-rgb));
}
