.wrapper {
    border-radius: 50%;
    height: 240px;
    width: 240px;
    background-color: rgba(var(--side-nav-rgb));
    display: flex;
    position: absolute;
    top: calc(50vh - 120px);
    right: -40px;
}

.inner {
    border-radius: 50%;
    height: 180px;
    width: 180px;
    background-color: rgba(var(--background-end-rgb));
    margin: auto;
    font-size: 1.5rem;
    padding: 15px;
    font-weight: bold;
    transition: .2s ease-in transform;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner:hover {
    transform: scale(1.2);
}

@media (max-width: 900px) {
    .wrapper {
       display: none;
    }
}

